@media (max-width: 767px){
    *{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .ourmenu{
        text-align: center;
        margin-bottom: 50px;
    }
    .chicken1{
        width: auto;
        border: 5px solid black;
        background-color: gray;
        margin-bottom: 10px;
    }
    .chicken2{
        font-size: 1.2em;
        border: 3px solid black;
        text-align: center;
        background-color: rosybrown;
        width: 100px;
        margin-left: auto;
    }
    .beef1{
        width: auto;
        border: 5px solid black;
        background-color: gray;
    }
    .beef2{
        font-size: 1.2em;
        border: 3px solid black;
        text-align: center;
        background-color: red;
        color: white;
        width: 100px;
        margin-left: auto;
    }
    .sushi1{
        margin-top: 10px;
        width: auto;
        border: 5px solid black;
        background-color: gray;
    }
    .sushi2{
        text-align: right;
        font-size: 1.2em;
        border: 3px solid black;
        text-align: center;
        background-color: #c5c555;
        width: 100px;
        margin-left: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    *{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .ourmenu{
        text-align: center;
        margin-bottom: 50px;
    }
    .chicken1{
        width: 420px;
        margin-right: 20px;
        display: inline-block;
        border: 5px solid black;
        background-color: gray;
    }
    .chicken2{
        font-size: 1.2em;
        border: 3px solid black;
        text-align: center;
        background-color: rosybrown;
        width: 100px;
        margin-left: auto;
    }
    .beef1{
        width: 420px;
        display: inline-block;
        border: 5px solid black;
        background-color: gray;
    }
    .beef2{
        font-size: 1.2em;
        border: 3px solid black;
        text-align: center;
        background-color: red;
        color: white;
        width: 100px;
        margin-left: auto;
    }
    .sushi1{
        margin-top: 10px;
        width: auto;
        display: block;
        border: 5px solid black;
        background-color: gray;
    }
    .sushi2{
        text-align: right;
        font-size: 1.2em;
        border: 3px solid black;
        text-align: center;
        background-color: #c5c555;
        width: 100px;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    *{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .ourmenu{
        text-align: center;
        margin-bottom: 50px;
    }
    .chicken1{
        width: 400px;
        display: inline-block;
        border: 5px solid black;
        padding: 0px 0px 10px 10px;
        margin-left: 70px;
        margin-right: 30px;
        background-color: gray;
    }
    .chicken2{
        text-align: right;
        font-size: 1.2em;
        border: 3px solid black;
        margin-left: 270px;
        /* padding-right: 20px; */
        text-align: center;
        background-color: rosybrown;
    }
    .beef1{
        width: 400px;
        display: inline-block;
        border: 5px solid black;
        padding: 0px 0px 10px 10px;
        margin-right: 30px;
        background-color: gray;
    }
    .beef2{
        text-align: right;
        font-size: 1.2em;
        border: 3px solid black;
        margin-left: 270px;
        /* padding-right: 20px; */
        text-align: center;
        background-color: red;
        color: white;
    }
    .sushi1{
        width: 400px;
        display: inline-block;
        border: 5px solid black;
        padding: 0px 0px 10px 10px;
        background-color: gray;
    }
    .sushi2{
        text-align: right;
        font-size: 1.2em;
        border: 3px solid black;
        margin-left: 270px;
        /* padding-right: 20px; */
        text-align: center;
        background-color: #c5c555;
    }
}
